* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 16px;
}

#smiley01 {
    width: 2%;
    height: 100%;
}

#smiley02 {
    width: 1.5%;
    height: 2%;
}

.section-title {
    font-size: 1.5rem;
}

/*HEADER*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 3% 1% 3%;
}

.header-h1 {
    font-size: 3rem;
}

.header-options {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid white;
    padding: 1% 8% 1% 1%;
    width: 45%;
}

.header-titleh2 {
    font-size: 1.5rem;
    padding-left: 10%;
}

.header-signin {
    padding: 1% 1% 1% 5%;
    width: 30%;
}

.header-signintitle {
    font-size: 1rem;
    padding: 10% 7% 10% 7%;
    background-color: red;
    border-radius: 35%;
}

#gear {
    width: 10%;
    border: 1px solid red;
    border-radius: 50%;
    padding: 3%;
}

/*CATEGORIES*/
.categories {
    display: flex;
    padding: 0% 5% 0% 2%;
}

.categories-title {
    width: 30%;
}
.categories-options {
    width: 90%;
    font-size: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0% 0% 0% 20%;

}

.categories-list {
    display: flex;
    gap: 1%;
    list-style: none;
    width: 75%;
}

.categories-items {
    padding: 0.5% 1% 0.5% 1%;
    border: 1px solid white;
    border-radius: 10%;
}

/*GAMELIST*/
.gamelist {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 28vh;
    width: 100vw;
    border-bottom: 1px solid white;
    padding-bottom: 2%;
}

.gamelist-items {
    background-color: red;
    width: 8%;
    height: 85%;
    border-radius: 25% 5% 25% 0;
}

#gamelist-items01 {
    background-image: url(assets/game_01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#gamelist-items02 {
    background-image: url(assets/game_02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#gamelist-items03 {
    background-image: url(assets/game_03.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#gamelist-items04 {
    background-image: url(assets/game_04.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#gamelist-items05 {
    background-image: url(assets/game_05.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#gamelist-items06 {
    background-image: url(assets/game_06.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#gamelist-items07 {
    background-image: url(assets/game_07.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#gamelist-items08 {
    background-image: url(assets/game_08.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#gamelist-items09 {
    background-image: url(assets/game_09.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*GX GAMES*/
.gxgames-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 45vh;
    width: 96vw;
    padding: 0% 0% 0% 1%;
}

.gxgames-items {
    background-color: red;
    width: 15%;
    height: 70%;
    border-radius: 15% 5% 15% 5%;
}

.gxgames-title {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 2% 5% 1% 2%;
}

#gxgames-items01 {
    background-image: url(assets/gx_games01.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#gxgames-items02 {
    background-image: url(assets/gx_games02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#gxgames-items03 {
    background-image: url(assets/gx_games03.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#gxgames-items04 {
    background-image: url(assets/gx_games04.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#gxgames-items05 {
    background-image: url(assets/gx_games05.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
