@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    color: white;
}

body {
    background-image: url("../assets/background.png");
    background-size: cover;
    padding: 1% 5% 1% 5%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-titulo {
    font-size: 54px;
}

.header-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

.options-container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid white;
    width: 48%;
    padding-right: 5%;
}

#container1-gear {
    border: 1px solid red;
    border-radius: 50%;
    padding: 3% 3% 2% 3%;
    width: 17%;
}

.options-container2 {
    width: 40%;
}

#options-signin {
    font-size: 20px;
    background-color: #FF2828;
    padding: 10%;
    border-radius: 50px;
}

.title-gxcorner {
    font-size: 28px;
}

.main-navegation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1% 0 2% 0;
}

.main-navmenu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.main-options {
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

.options-itens {
    padding: 1%;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.main-gametitles {
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3%;
}

.gametitles-img {
    width: 7%;
}

.main-gxgames {
    padding-top: 2%;
}

.gxgames-gametitles {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gxgames-title {
    padding-bottom: 2%;
}

.gxgames-img {
    width: 15%;
}